@model Models.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--begin::Content-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack">
        <!--begin::Page title-->
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Dashboard</h1>
            <!--end::Title-->
            <!--begin::Separator-->
            <span class="h-20px border-gray-300 border-start mx-4"></span>
            <!--end::Separator-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-300 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">Dashboard</li>
                <!--end::Item-->
            </ul>
        </div>
    </div>
</div>

@*<div class="menu-item px-5">
    <a href="" class="menu-link px-5" data-bs-toggle="modal" data-bs-target="#kt_modal_timeline">Timeline</a>
</div>*@

<!--begin dataTable::Content-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <div class="row">
            <table id="table-report" class="p-3">
                @*<tbody id="tbody-report"></tbody>*@
            </table>
            <div style="display:none">
                <div class="col-lg-3 pb-4">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header ribbon ribbon-clip ribbon-end">
                            <div class="card-title">
                                <h3 class="card-label pt-3">
                                    SKS Estate
                                </h3>
                            </div>
                            <div class="ribbon-label bg-primary" style="top: 12px;">
                                <span class="ribbon-inner bg-warning"></span>On Progress
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0.5rem 2.25rem">
                            <div class="d-flex align-items-center mb-10">
                                <!--begin::Text-->
                                <div class="d-flex flex-column font-weight-bold">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Location 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-person-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Creator 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Complinance 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-calendar-check-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->01-01-2022 10:00
                                    </div>
                                </div>
                                <!--end::Text-->
                            </div>
                        </div>
                    </div>
                    <!--end::Card-->
                </div>

                <div class="col-lg-3 pb-4">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header ribbon ribbon-clip ribbon-end">
                            <div class="card-title">
                                <h3 class="card-label pt-3">
                                    SKS Estate
                                </h3>
                            </div>
                            <div class="ribbon-label bg-primary" style="top: 12px;">
                                <span class="ribbon-inner bg-success"></span>Done
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0.5rem 2.25rem">
                            <div class="d-flex align-items-center mb-10">
                                <!--begin::Text-->
                                <div class="d-flex flex-column font-weight-bold">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Location 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-person-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Creator 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Complinance 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-calendar-check-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->01-01-2022 10:00
                                    </div>
                                </div>
                                <!--end::Text-->
                            </div>
                        </div>
                    </div>
                    <!--end::Card-->
                </div>

                <div class="col-lg-3 pb-4">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header ribbon ribbon-clip ribbon-end">
                            <div class="card-title">
                                <h3 class="card-label pt-3">
                                    SKS Estate
                                </h3>
                            </div>
                            <div class="ribbon-label bg-primary" style="top: 12px;">
                                <span class="ribbon-inner bg-info"></span>HQ Verification
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0.5rem 2.25rem">
                            <div class="d-flex align-items-center mb-10">
                                <!--begin::Text-->
                                <div class="d-flex flex-column font-weight-bold">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Location 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-person-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Creator 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Complinance 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-calendar-check-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->01-01-2022 10:00
                                    </div>
                                </div>
                                <!--end::Text-->
                            </div>
                        </div>
                    </div>
                    <!--end::Card-->
                </div>

                <div class="col-lg-3 pb-4">
                    <!--begin::Card-->
                    <div class="card card-custom">
                        <div class="card-header ribbon ribbon-clip ribbon-end">
                            <div class="card-title">
                                <h3 class="card-label pt-3">
                                    SKS Estate
                                </h3>
                            </div>
                            <div class="ribbon-label bg-primary" style="top: 12px;">
                                <span class="ribbon-inner bg-danger"></span>Reject
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0.5rem 2.25rem">
                            <div class="d-flex align-items-center mb-10">
                                <!--begin::Text-->
                                <div class="d-flex flex-column font-weight-bold">
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Location 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-person-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Creator 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-exclamation-triangle-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->Complinance 1
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                        <span class="svg-icon svg-icon-2 me-2">
                                            <i class="bi bi-calendar-check-fill"></i>
                                        </span>
                                        <!--end::Svg Icon-->01-01-2022 10:00
                                    </div>
                                </div>
                                <!--end::Text-->
                            </div>
                        </div>
                    </div>
                    <!--end::Card-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end dataTable::Content-->
<div id="tbodyElement" style="display:none">
    <div class="col-lg-3 pb-4">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header ribbon ribbon-clip ribbon-end">
                <div class="card-title">
                    <h3 class="card-label pt-3" id="busciness_unit">
                        SKS Estate
                    </h3>
                </div>
                <div class="ribbon-label bg-primary" style="top: 12px;">
                    <span class="ribbon-inner bg-warning"></span>On Progress
                </div>
            </div>
            <div class="card-body" style="padding: 0.5rem 2.25rem">
                <div class="d-flex align-items-center mb-10">
                    <!--begin::Text-->
                    <div class="d-flex flex-column font-weight-bold">
                        <div class="d-flex align-items-center">
                            <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                            <span class="svg-icon svg-icon-2 me-2">
                                <i class="bi bi-geo-alt-fill"></i>
                            </span>
                            <!--end::Svg Icon-->Location 1
                        </div>
                        <div class="d-flex align-items-center">
                            <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                            <span class="svg-icon svg-icon-2 me-2">
                                <i class="bi bi-person-fill"></i>
                            </span>
                            <!--end::Svg Icon-->Creator 1
                        </div>
                        <div class="d-flex align-items-center">
                            <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                            <span class="svg-icon svg-icon-2 me-2">
                                <i class="bi bi-exclamation-triangle-fill"></i>
                            </span>
                            <!--end::Svg Icon-->Complinance 1
                        </div>
                        <div class="d-flex align-items-center">
                            <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                            <span class="svg-icon svg-icon-2 me-2">
                                <i class="bi bi-calendar-check-fill"></i>
                            </span>
                            <!--end::Svg Icon-->01-01-2022 10:00
                        </div>
                    </div>
                    <!--end::Text-->
                </div>
            </div>
        </div>
        <!--end::Card-->
    </div>
</div>

<!--begin::Modal Change Password-->
<div class="modal fade" id="kt_modal_timeline" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header" id="kt_modal_myprofile_header">
                <!--begin::Modal title-->
                <h2 class="fw-bolder" id="modal-tittle">Report Detail Timeline</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-kt-user-type-modal-action="close">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black"></rect>
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black"></rect>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5">
                <!--begin::Form    mx-xl-15 my-7 -->
                <form class="form w-100" novalidate="novalidate" id="kt_change_password_form">
                    <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
                        <!--begin::Info-->
                        <div class="flex-grow-1">
                            <!--begin::Title-->
                            <div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
                                <!--begin::User-->
                                <div class="d-flex flex-column">
                                    <div class="timeline-label">
                                        <!--begin::Item-->
                                        <div class="timeline-item">
                                            <!--begin::Label-->
                                            <div class="timeline-label fw-bolder text-gray-800 fs-6"></div>
                                            <!--end::Label-->
                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-success fs-1"></i>
                                            </div>
                                            <!--end::Badge-->
                                            <!--begin::Text-->
                                            <div class="fw-bolder text-gray-800 ps-3">Report Submited by Reporter</div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="timeline-item">
                                            <!--begin::Label-->
                                            <div class="timeline-label fw-bolder text-gray-800 fs-6"></div>
                                            <!--end::Label-->
                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-muted fs-1"></i>
                                            </div>
                                            <!--end::Badge-->
                                            <!--begin::Content-->
                                            <div class="timeline-content d-flex">
                                                <span class="fw-bolder text-muted ps-3">HQ Dispathcer (Pending)</span>
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="timeline-item">
                                            <!--begin::Label-->
                                            <div class="timeline-label fw-bolder text-gray-800 fs-6"></div>
                                            <!--end::Label-->
                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-muted fs-1"></i>
                                            </div>
                                            <!--end::Badge-->
                                            <!--begin::Content-->
                                            <div class="timeline-content d-flex">
                                                <span class="fw-bolder text-muted ps-3">Justificator (Pending)</span>
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <div class="timeline-item">
                                            <!--begin::Label-->
                                            <div class="timeline-label fw-bolder text-gray-800 fs-6"></div>
                                            <!--end::Label-->
                                            <!--begin::Badge-->
                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-muted fs-1"></i>
                                            </div>
                                            <!--end::Badge-->
                                            <!--begin::Content-->
                                            <div class="timeline-content d-flex">
                                                <span class="fw-bolder text-muted ps-3">Completed</span>
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                </div>
                                <!--end::User-->
                            </div>
                            <!--end::Title-->
                            <!--begin::Stats-->
                            <!--end::Stats-->
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--begin::Actions-->
                    <div class="d-flex flex-wrap justify-content-center pb-lg-0 d-none">
                        <button type="button" id="kt_password_reset_submit" class="btn btn-lg btn-primary fw-bolder me-4">
                            <span class="indicator-label">Save</span>
                            <span class="indicator-progress">
                                Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal Change Password-->

<script src="~/Scripts/Home/Index.js"></script>